<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %></title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('./partials/nav') %>
  <h1><%= name %></h1>
  <div class="dish-content">
    <% data.forEach((item) => { %>
      <div class="dish-details">
        <% if (item.rating >= 5) { %>
          <h3 class="bold"><%= item.name %> ⭐</h3>
        <% } else { %>
          <h3 class="bold"><%= item.name %></h3>
        <% } %>
        <p>Price: $<%= item.price %> • Rating: <%= item.rating %></p>
        <p><%= item.details %></p>
      </div>
    <% }) %>
  </div>
</body>
</html>