<%- include('./partials/header') %>
<%- include('./partials/nav') %>
  <h1><%= title %></h1>
  <div class="dish-content">
    <% data.forEach((item) => { %>
      <div class="dish-details">
        <% if (item.rating >= 5) { %>
          <h3 class="bold"><%= item.name %> ⭐</h3>
        <% } else { %>
          <h3 class="bold"><%= item.name %></h3>
        <% } %>
        <p>Price: $<%= item.price %> • Rating: <%= item.rating %></p>
        <p><%= item.details %></p>
      </div>
    <% }) %>
  </div>
</body>
</html>