<%- include('./partials/header') %>
<%- include('./partials/nav') %>
  <h1><%= data.name %></h1>
  <p id="home-greeting">Welcome to The Green Byte Bistro, where every dish is crafted with a touch of tech and a burst of flavor.
    Indulge in unique creations like our Quantum Quinoa Mushroom Burger or our Fibonacci String Bean Fries —
    a perfect blend of creativity and taste.</p>
    <% if (data.isOpen) { %>
        <p>Come by, we are open!</p>
    <% } else { %>
        <p>Sorry, we are closed.</p>
    <% } %>
  <p class="home-contact"><strong>Address</strong> • <%= data.address %></p>
  <p class="home-contact"><strong>Phone</strong> • <%= data.phone %></p>
</body>
</html>