<%- include('./partials/header') %>
<%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <h2>Main Dishes</h2>
  <div class="dish-content">
  <% menu.forEach((item) => { %>
    <% if (item.category === 'mains') { %>
      <div class="dish-details">
        <% if (item.rating >= 5) {%>
          <h3 class="bold"><%= item.name %> ⭐</h3>
        <% } else { %>
          <h3 class="bold"><%= item.name %></h3>
        <% } %>
      <p>Price: $<%= item.price %> • Rating: <%= item.rating %></p>
      <p><%= item.details %></p>
    </div>
      <% } %>
  <% }) %>
  </div>
  <h2>Desserts</h2>
  <div class="dish-content">
  <% menu.forEach((item) => { %>
    <% if (item.category === 'desserts') { %>
      <div class="dish-details">
        <% if (item.rating >= 5) {%>
          <h3 class="bold"><%= item.name %> ⭐</h3>
        <% } else { %>
          <h3 class="bold"><%= item.name %></h3>
        <% } %>
        <p>Price: $<%= item.price %> • Rating: <%= item.rating %></p>
        <p><%= item.details %></p>
      </div>
    <% } %>
  <% }) %>
  </div>
  <h2>Sides</h2>
  <div class="dish-content">
    <% menu.forEach((item) => { %>
      <% if (item.category === 'sides') { %>
        <div class="dish-details">
          <% if (item.rating >= 5) {%>
            <h3 class="bold"><%= item.name %> ⭐</h3>
          <% } else { %>
            <h3 class="bold"><%= item.name %></h3>
          <% } %>
          <p>Price: $<%= item.price %> • Rating: <%= item.rating %></p>
          <p><%= item.details %></p>
        </div>
      <% } %>
    <% }) %>
  </div>
</body>
</html>